<div class="pageTitle">
    Section A: Record Management
</div>

<section>
    <question-text title="Interview Date" reminder="MM-DD-YYYY" id="InterviewDate" v-model="gpra.InterviewDate"></question-text>
</section>

<section>
    <h4>BEHAVIORAL HEALTH DIAGNOSES</h4>
    <div class="explanationBox">
        Please indicate the client’s current behavioral health diagnoses using the International Classification of Diseases,
        10th revision, Clinical Modification (ICD-10-CM) codes listed below. Please note that some substance use disorder ICD-10-CM
        codes have been crosswalked to the Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition (DSM-5), descriptors.
        You may specify a primary, secondary, and/or tertiary diagnosis.
    </div>

    <question-combobox title="Primary" id="ICD10CodeOne" v-model="gpra.ICD10CodeOne" :options="optionSets.ICDCode"></question-combobox>
    <question-combobox title="Secondary" id="ICD10CodeTwo" v-model="gpra.ICD10CodeTwo" :options="optionSets.ICDCode"></question-combobox>
    <question-combobox title="Tertiary" id="ICD10CodeThree" v-model="gpra.ICD10CodeThree" :options="optionSets.ICDCode"></question-combobox>
</section>

<section>
    <question-radio title="In the past 30 days, was this client diagnosed with an opioid use disorder?" class="columns-thirds"
                    id="OpioidDisorder" v-model="gpra.OpioidDisorder" :options="optionSets.YesNoD"></question-radio>

    <transition name="fadeslow">
    <div v-show="gpra.OpioidDisorder == 1" class="subquestion">
        <div class="header">
            <span class="title">In the past 30 days, for how many days did the client receive the following medications for treatment of opioid use disorder?</span>
            <span class="reminderText">(Leave blank if medication not received)</span>
        </div>
        <div class="subheader header-small input-small">
            <question-text title="Methadone" id="MethadoneMedicationDays" v-model="gpra.MethadoneMedicationDays"></question-text>
            <question-text title="Buprenorphine" id="BuprenorphineMedicationDays" v-model="gpra.BuprenorphineMedicationDays"></question-text>
            <question-text title="Naltrexone" id="NaltrexoneMedicationDays" v-model="gpra.NaltrexoneMedicationDays"></question-text>
            <question-text title="Extended-release naltrexone" id="NaltrexoneXRMedicationDays" v-model="gpra.NaltrexoneXRMedicationDays"></question-text>
        </div>
    </div>
    </transition>
</section>

<section>
    <question-radio title="In the past 30 days, was this client diagnosed with an alcohol use disorder?" class="columns-thirds"
                    id="AlcoholDisorder" v-model="gpra.AlcoholDisorder" :options="optionSets.YesNoD"></question-radio>

    <div v-show="gpra.AlcoholDisorder == 1" class="subquestion">
        <div class="question">
            <div class="header">
                <span class="title">In the past 30 days, for how many days did the client receive the following medications for treatment of alcohol use disorder?</span>
                <span class="reminderText">(Leave blank if medication not received)</span>
            </div>
            <div class="subheader header-small input-small">
                <question-text title="Naltrexone" id="NaltrexoneAlcMedicationDays" v-model="gpra.NaltrexoneAlcMedicationDays"></question-text>
                <question-text title="Extended-release naltrexone" id="NaltrexoneXRAlcMedicationDays" v-model="gpra.NaltrexoneXRAlcMedicationDays"></question-text>
                <question-text title="Disulfiram" id="DisulfiramMedicationDays" v-model="gpra.DisulfiramMedicationDays"></question-text>
                <question-text title="Acamprosate" id="AcamprosateMedicationDays" v-model="gpra.AcamprosateMedicationDays"></question-text>
            </div>
        </div>
    </div>
</section>

<section>
    <div v-if="gpra.assessment_type == 1">
        <question-radio title="Was the client screened by your program for co-occurring mental health and substance use disorders?" class="columns-halves"
                        id="ClientIntake_CooccurringScreen" v-model="gpra.ClientIntake_CooccurringScreen" :options="optionSets.YesNo"></question-radio>
        <question-radio class="subquestion columns-halves" v-show="gpra.ClientIntake_CooccurringScreen == 1" title="Did the client screen positive for co-occurring mental health and substance use disorders?"
                        id="ClientIntake_CooccurringScreenStatus" v-model="gpra.ClientIntake_CooccurringScreenStatus" :options="optionSets.YesNo"></question-radio>
    </div>
</section>