Options +FollowSymLinks
RewriteEngine On

RewriteCond %{HTTP_HOST} !=localhost-gpra
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} !(\.map|\.css|\.js|\.png|\.jpg|\.gif|robots\.txt|test.php|\.ico)$ [NC]
RewriteRule ^(.*)$ index.php [NC,L]

Header append X-FRAME-OPTIONS "SAMEORIGIN"